<section>
    <h1>Om mig</h1>
    <h2>Hej, Jag heter Fanny Lundberg.</h2>
    <h3>Jag älskar att koda!</h3>
    <p>
        Jag testade på enkel HTML, som många andra, i tonåren men sommaren 2020 testade jag en fyra-dagarskurs hos Tjejer kodar - och förstod då att programmering är något för mig. 
        Jag sökte mig då till Medieinstitutet för att bli Front End Developer. 
        <br><br>
        Sedan starten av utbildningen i oktober 2021 kan jag nu ägna mig åt att koda på heltid, vilket är otroligt kul. Det finns ju så mycket att lära sig!
        Utöver att koda tycker jag om att vara med mina nära och kära, inredning, se dokumentärer, lyssna på musik och poddar. Jag tycker även om att resa och gå på konsert.
    </p>
</section>