<section>
  <h1>Arbetslivserfarenhet</h1>

  <div id="h5Wrapper">
    <h2>HiveAndFive (LIA/praktik okt-dec 2022)</h2>
    <h3>Webbutvecklare</h3>
    <p>
      Som en del av min utbildning på Medieinstitutet har jag fått möjligheten
      att vara hos HiveAndFive. Jag har bland annat praktiserat Git, Github,
      agilt arbetssätt, Next.js, Mantine, Cypress och förbättrat kunskaperna i
      TypeScript.
    </p>
  </div>

  <div id="wfmWrapper">
    <h2>Sergel Kredittjänster (2018-nuvarande)</h2>
    <h3>Personnel Planning Officer</h3>
    <p>
      Bemanningsplanerare med huvudansvar för systemförvaltning och utveckling
      av telefonisystem (CallGuide/ACE, Puzzel).
    </p>
    <p>
      Utbildat i daglig användning av telefonisystem och har medverkat vid flera
      stora projekt för talsvaret.
    </p>
    <p>
      Rollen har gjort mig mer lösningsorienterad, proaktiv och kommunikativ.
    </p>
  </div>

  <div id="debtCollectionWrapper">
    <h2>Sergel Kredittjänster (2015-2018)</h2>
    <h3>Inkasso- och reskontrahandläggare</h3>
    <p>Handläggning av ärenden via telefon, chatt och mail.</p>
    <p>
      Först anställd via Academic Work och sedan överrekryterad januari 2016.
    </p>
    <p>Rollen kräver hög professionalism, noggrannhet och servicemind.</p>
  </div>

  <div id="scWrapper">
    <h2>Student consulting (2013-2015)</h2>
    <h3>Personaladministratör inom ekonomi</h3>
    <p>Beräkning av löner för konsulter och fakturering till kunder.</p>
    <p>
      Rollen kräver att man är strukturerad, ordningsam och håller deadline.
    </p>
  </div>

  <div id="kappahlWrapper">
    <h2>KappAhl (2009-2013)</h2>
    <h3>Säljare</h3>
    <p>
      Ansvar för kassaavstämningar, upplärning av nyanställda, praktikanter etc.
    </p>
    <p>Rollen innebar ansvar, teamarbete och effektivitet.</p>
  </div>

  <div id="thWrapper">
    <h2>Tommy Hilfiger (2004-2010)</h2>
    <h3>Kontorsassistent</h3>
    <p>
      Hjälpte till med att prismärka och packa upp visningskollektioner,
      posthantering, utförsäljningar och event på NK.
    </p>
    <p>
      Rollen innbar hög social förmåga, prioriterings- och initiativförmåga.
    </p>
  </div>

  <div shortJobsWrapper>
    <h2>RPM- och cykelinstruktör (2015-2016)</h2>
    <p class="borderP">World Class Nacka (pass en gång i veckan)</p>

    <h2>Telefoninformatör (2015-2015)</h2>
    <p class="borderP">
      Information om A-kasseersättning via telefon (sommarjobb)
    </p>

    <h2>Värmdö Polarna (2010-2011)</h2>
    <p>Fältassistent Värmdö kommun (kvällar och helger)</p>
  </div>

  <div id="diverseWrapper">
    <h2>Övriga meriter</h2>
    <p>Fd styrelsemedlem i samfällighetsförening</p>
    <p>B-körkort</p>
    <p>Svenska (modersmål)</p>
    <p>Engelska (flytande)</p>
    <p>Office-paketet (mycket goda kunskaper)</p>
  </div>
</section>
