<section>
    <img 
        id="imgProfile" 
        src="{{showImg}}"
        alt="Svartvitt profilbild på Fanny Lundberg" 
        (mouseenter)="changeImg()"
        (mouseleave)="changeImg()"
        width="300"
    >
    <h1>Fanny Lundberg</h1>
    <h2>Frontend Developer</h2>
    <h3>Strukturerad, lösningsorienterad och <span>positiv</span></h3>
    <div>
        <h4>
            Jag har främst fastnat för kodandet för problemlösningens skull.
        </h4>
        <h4>
            Jag vill vara med och skapa ett mer tillgängligt internet i vår digitala värld.
        </h4>
    </div>
</section>