<section>
    <img 
        id="imgProfile" 
        src="{{showImg}}"
        alt="Svartvitt profilbild på Fanny Lundberg" 
        (mouseenter)="changeImg()"
        (mouseleave)="changeImg()"
    >
    <h1>Fanny Lundberg</h1>
    <h2><span>Blivande</span> Front End Developer</h2>
    <h3>Strukturerad, lösningsorienterad och <span>positiv</span></h3>
    <div>
        <h4>
            Jag har främst fastnat för kodandet för problemlösningens skull. Hittills är Angular en stor favorit.
            <br><br>
            Jag vill vara med och skapa ett mer tillgängligt internet i vår digitala värld.
        </h4>
    </div>
</section>