<section>
  <h1>Projekt</h1>

  <div id="degreeProject">
    <h2>Examensarbete</h2>
    <h3>Skolprojekt i Next.js med MongoDB som databas</h3>
    <img
      src="../../../assets/julklappshjalpen-varmdo.JPG"
      alt="Screenshot of degree project"
    />
    <a href="https://github.com/FannyLundberg/degree-project-without-admin"
      >Länk till repo (utan administratörs delen)</a
    >
  </div>

  <div id="cvReact">
    <h2>Hobbyprojekt</h2>
    <h3>Enkelt CV i React med animationer</h3>
    <img src="../../../assets/cv-react.JPG" alt="Screenshot of CV in React" />
    <a href="https://jocular-gumdrop-6fa2a4.netlify.app/">Länk till deploy</a>
    <a href="https://github.com/FannyLundberg/cv-react">Länk till repo</a>
  </div>

  <div>
   <h3>Fler projekt finns på GitHub</h3>
    <button>
      <a href="https://github.com/FannyLundberg">Gå till GitHub</a>
    </button>
  </div>
</section>
