<section>
    <h1>Projekt</h1>

    <div id="restaurantWrapper">
        <h2>Restaurangen</h2>
        <h3>Skolprojekt med React och TypeScript</h3>
        <img src="../../../assets/project-restuarant.JPG" alt="Screenshot of Restaurant project">
        <p>
            Uppgiften var att skapa en fiktiv restaurang. Vi skapade en grafisk profil och en hemsida med möjlighet att boka bord. Förutsättningarna var att det fanns 15 bord med sex sittplatser vid varje och två sittningar varje kväll, kl. 18:00 och 21:00.
            <br><br>
            Det skulle även finnas med ett admingränssnitt där man ska kunna se, ta bort och redigera bokningar.
        </p>
        <a href="https://github.com/KirillM91/Restaurangen">Länk till repo</a>
    </div>
    
    <div id="webshopWrapper">
        <h2>Webshop</h2>
        <h3>Skolprojekt med Angular och TypeScript</h3>
        <img src="../../../assets/project-webshop.JPG" alt="Screenshot of Webshop project">
        <p>
            Uppgiften var att göra en webshop för filmer som vi fick ta del av genom ett API. 
            <br>
            Det skulle vara möjligt att se mer detaljer om en film, lägga en film i varukorg och sedan kunna göra ett köp som sparas.
            <br><br>
            Det skulle även finnas ett admingränssnitt där man ska kunna se och ta bort beställningar. Testning var också ett krav för högre betyg.
        </p>
        <a href="https://github.com/FannyLundberg/webshop-angular">Länk till repo</a>
    </div>

    <div id="stelinWrapper">
        <h2>Företagshemsida</h2>
        <h3>Hemsida till Stelin Entreprenad AB</h3>
        <img src="../../../assets/project-stelin.JPG" alt="Screenshot of Stelin's webpage">
        <p>
            Skapat design efter fria ramar, endast given logotype, och sedan byggt upp det i One:s hemsideprogram. 
        </p>
        <a href="https://stelinentreprenad.se/">Länk till sidan</a>
    </div>

    <div id="todoWrapper">
        <h2>"Att-göra"-lista</h2>
        <h3>Vanilla JavaScript</h3>
        <img src="../../../assets/project-todo.JPG" alt="Screenshot of ToDo-project">
        <p>
            En "Att göra"-lista där val för bakgrunds- och textfärg kan väljas. Även tid och datum visas.
            <br><br> 
            Punkter på listan och färgval sparas i localStorage.
        </p>
        <a href="https://github.com/FannyLundberg/ToDoList-clock-and-change-bg-color">Länk till repo</a>
    </div>
</section>