// Hamburgermeny
#hamburger {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 50px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
    &:hover {
        #menuLine2.closed {
            transform: translateX(2px);
            translate: 0.45s ease-in;
        }
    }
}

span {
    width: 38px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 3px;
    display: block;
}


// Animation för när menyn öppnas
#menuLine1.open {
    transform: rotate(-45deg) translate(-3px, 11px);
    transition: 0.3s;
    background-color: #e78ea5;
}

#menuLine2.open {
    opacity: 0;
}

#menuLine3.open {
    transform: rotate(45deg) translate(-3px, -11px);
    transition: 0.3s;
    background-color: #e78ea5;
}


// Animation för när menyn stängs
#menuLine1.closed {
    transform: rotate(0deg);
    transition: 0.35s;
}

#menuLine2.closed {
    opacity: 1;
}

#menuLine3.closed {
    transform: rotate(0deg);
    transition: 0.35s;
}


// Öppen meny
#navUl {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(34,34,34,0.95);
    padding-top: 15%;
}

.navLi {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

a {
    color: white; 
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.active {
        color: #e78ea5;
    }
}


// Footer
#contactUl {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.contactLink {
    &:hover {
        color: #e78ea5;
    }
}

#copyright {
    padding-top: 3%;
}


// Animation för att innehåll ska komma in från höger
@keyframes from-right {
    0% {
        transform: translateX(100%);
    }
    100% { 
        transform: translateX(0%);
    }
}