<section>
    <h1>Utbildning</h1>

    <div>
        <h2>Medieinstitutet (2021-2023)</h2>
        <h3>Front End Developer</h3>
        <h4>Utbildningen inkluderar:</h4>
        <p>HTML, CSS, SCSS, JavaScript, jQuery, <br>React, Angular, NoSQL, MySQL, NodeJS</p>
        <br>
        <p>Användbarhet, tillgänglighet, UX, Git, Github, <br>API:er, projekt i agila metoder, arbetsmetodik för utvecklare</p>
    </div>

    <div>
        <h2>Södertörns högskola (2012-2015)</h2>
        <h3>Internationella ekonomprogrammet</h3>
        <h4>Utbildningen inkluderar:</h4>
        <p>
            Företagsekonomi (A, B och C) <br>
            Statisik för ekonomer <br>
            Engelska A <br>
            Nationalekonomi A <br>
            Handelsrättslig översiktskurs <br>
        </p>
    </div>

    <div>
        <h2>Övrigt</h2>
        <h3>Code Institute</h3>
        <p>5 Day Code Challenge</p>

        <h3>Tjejer kodar</h3>
        <p>4-dagars kurs</p>
    </div>

    <div>
        <h2>Jensen Gymnasium Södra (2007-2010)</h2>
        <h3>Företagande och försäljning</h3>
    </div>
</section>
